{% extends 'base.html' %}

{% block header %}
        <h2>{% block title %}Login{% endblock %}</h2>
{% endblock %}

{% block content %}

        <form method="post">
            <div class="my-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" name="username" class="form-control" placeholder="Username" required />
            </div>
            <div class="mb-3"><label for="password" class="form-label">Password</label>
                <input id="password" name="password" type="password" placeholder="Password" class="form-control" required />
            </div>
            <button type="submit" value="Login" class="btn btn-success">Login</button>
        </form>
    </div>
    <div class="col-sm-2"></div>
</div>

{% endblock %}