.side-bar-items {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.pagination>li>a {
    color: #242424
}

.pagination>li>a:hover {
    color: #242424
}

.pagination>.page-item.active>a {
    background-color: #e0e0e0;
    color: #242424;
    border-color: #e0e0e0;
}

.player-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tags.customized-tag-field {
    border: none;
}

.customized-tag-field .tagify__input{
    display: none;
  }

tags.tagify {
    background-color: white;
    color: #636971;
}

input.form-control::placeholder {
    color: #8f8f8f;
}

.read-only-tags {
    --readonly-striped: 0;
    --tags-bg: #FCFAF2;

    display: inline-block;
}

.talent-badge, .type-badge {
    padding: 0.1em 0.5em;
    background-color: #f7f7f7;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 1px;
    border-color: #4F4F48;
    display: inline-block;
}

.talent-badge:hover, .type-badge:hover {
    background-color: #ededed;
    cursor: pointer;
}

.add-badge :hover {
    color: #3A8FB7;
}

.duration-stamp {
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: 99;
    padding: 0.2em;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9em;
}

.stats-filter:focus {
    box-shadow: none;
}

.chart-title {
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    color: rgb(102, 102, 102);
    margin-bottom: 0.3em;
}

.chart-legend {
    margin-top: 0.5em;
    margin-bottom: 1em;
}