@import url("https://at.alicdn.com/t/font_2511755_scqgi5dgec.css");

.main-body {
    margin-top: 4em;
}

.tagify {
    --tag-pad: 0 0.5rem;  
    line-height: 1.5;
}
  
.tagify__input:empty::before {
line-height: inherit;
}

.tagify.form-control {
height: unset;
}