{% extends 'base.html' %}

{% block title %}{{ video_info['title'] }}{% endblock %}

{% block head_links %}
    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-sm-12">
        <div class="mt-4 row">
            <div class="col-sm-6">
                <!-- thumb nail -->
                <div class="align-self-center me-2" style="text-align: center; position: relative;">
                    <img src="{{  video_info['video_thumb'] }}" alt="Video thumbnail" style="width: 100%;" />
                    <div class="duration-stamp video-duration">{{ video_info['duration'] }}</div>
                </div>
            </div>
            <div class="col-sm-6 d-flex justify-content-center">
                <!-- video info -->
                <div class="align-self-center" style="width: 100%;">
                    <div style="text-align: center;">
                        <h4>{{ video_info['title'] }}</h4>
                        <a href="{{ url_for('channels.single_channel', channel_id = video_info['channel_id']) }}" style="text-decoration: none;" class="text-secondary">{{ video_info['channel_name'] }}</a>
                    </div>
                    <div class="mt-3">
                        <div class="d-flex justify-content-center">
                            <div class="d-flex justify-content-center" style="width: 45%;">
                                <div class="align-self-center" style="text-align: center;">
                                    {% if video_info['video_id'][:2] == '__' and video_info['video_id'][-2:] == "__" %}
                                        {% if g.user %}
                                            {{ video_info['video_id'] }}
                                        {% else %}
                                            Unarchived
                                        {% endif %}
                                    {% else %}
                                    <a class="text-dark" href="https://www.youtube.com/watch?v={{ video_info['video_id'] }}" target="_blank" id="original-vid">{{ video_info['video_id'] }}</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="d-flex justify-content-center" style="width: 45%;">
                                <div class="video-upload-date align-self-center" style="text-align: center;">{{ video_info['upload_date'] }}</div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mt-1">
                            <div style="width: 45%;">
                                <div style="text-align: center; font-size: 0.7em;" class="text-secondary">Video ID</div>
                            </div>
                            <div style="width: 45%;">
                                <div style="text-align: center; font-size: 0.7em;" class="text-secondary">Upload date</div>
                            </div>
                        </div>
                    </div>
                    <!-- play/download -->
                    {% if video_relpath %}
                        <div class="mt-3" style="text-align: center;">
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#archived-video-modal"><i class="iconfont icon-play"></i> Play archived</button>
                        </div>
                    {% else %}
                        <div class="mt-3" style="text-align: center;">
                            {% if g.user %}
                            <button id="download-btn" type="button" class="btn btn-outline-secondary"><i class="iconfont icon-download"></i> Download</button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mt-4">
        <!-- talents display -->
            <div id="single-video-warning"></div>
            <div class="text-secondary" style="font-size: 1.1em;">Talents: </div>
            <div class="mt-2">
                {% for single_talent_name in participators.split(',') %}
                    {% if single_talent_name %}
                        <span class="talent-badge m-1" style="display: inline-block;">{{ single_talent_name }}</span>
                    {% endif %}
                {% endfor %}
                {% if g.user %}
                <span class="add-badge"><a href="#edit-talent-modal" data-bs-toggle="modal" data-bs-target="#edit-talent-modal" style="text-decoration: none; color: #4F4F48;"><i class="iconfont icon-set" style="font-size: 1.5em;"></i></a></span>
                {% endif %}
            </div>
        </div> 
        <!-- type display -->
        <div class="mt-4">
            <div class="text-secondary" style="font-size: 1.1em;">Stream type: </div>
            <div class="mt-2">
                {% for single_stream_type in stream_type.split(',') %}
                    {% if single_stream_type %}
                        <span class="type-badge m-1">{{ single_stream_type }}</span>
                    {% endif %}
                {% endfor %}
                {% if g.user %}
                    <span class="add-badge"><a href="#edit-stream-type" data-bs-toggle="modal" data-bs-target="#edit-stream-type" style="text-decoration: none; color: #4F4F48;"><i class="iconfont icon-set" style="font-size: 1.5em;"></i></a></span>
                {% endif %}
            </div>
        </div> 
        <!-- video settings -->
        {% if g.user %}
        <div class="mt-4">
            <button type="button" class="btn btn-outline-secondary" style="width: 100%;" data-bs-toggle="collapse" data-bs-target="#video-settings">Manage video</button>
        </div>
        <div id="video-settings" class="collapse mt-4">
            <div class="border rounded-2 p-3 setting-block">
                <div class="block-border-label">
                    Leave the field blank if you do not want to update it 
                </div>
                <form id="new-video-form" method="post">
                    <div class="mb-3 mt-3">
                        <p id="update-video-warning"></p>
                        <div class="my-3">
                            <label class="form-label" for="new-channel-id">Channel ID</label>
                            <input class="form-control" type="text" name="new-channel-id" id="new-channel-id" />
                        </div>
                        <div id="unarchived-field">
                            <div class="my-3">
                                <label class="form-label" for="new-video-title">Title</label>
                                <input class="form-control" type="text" name="new-video-title" id="new-video-title" />
                            </div>
                            <div class="my-3">
                                <label class="form-label" for="new-video-date-picker">Upload time</label>
                                <input class="form-control" type="text" name="new-video-date-picker" id="new-video-date-picker">
                                <input type="hidden" name="new-video-date" id="new-video-date">
                            </div>
                            <div class="my-3">
                                <label class="form-label" for="new-video-duration">Video duration</label>
                                <input class="form-control" type="text" name="new-video-duration" id="new-video-duration" placeholder="hh:mm:ss">
                            </div>
                            <div class="my-3">
                                <label class="form-label" for="new-video-thumb">Thumbnail url</label>
                                <input class="form-control" type="text" name="new-video-thumb" id="new-video-thumb">
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;">
                        <button type="button" class="btn btn-success" id="update-video-btn">Update video</button>
                    </div>
                </form>
            </div>
            <div class="my-4 text-end border rounded-2 p-3 setting-block" style="background-color: #ffcccc;">
                <div class="block-border-label border rounded-pill">
                    Danger zone
                </div>
                <button type="button" class="btn btn-danger" id="delete-video-btn">Delete Video</button>
            </div>

        </div>
        {% endif %}
    </div>


</div>

<!-- play modal -->
{% if video_relpath %}
    <div class="modal" id="archived-video-modal">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-md-down">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="player-title"><h4>{{ video_info['title'] }}</h4></div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="mx-auto" style="width: 90%;">
                        <video id="archived-video-player" style="width: 100%;" controls>
                            <source src="{{ url_for('static', filename=video_relpath) }}" />
                        </video>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endif %}


<!-- edit tags -->
{% if g.user %}
    <div class="modal" id="edit-talent-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="player-title"><h4>Edit talents</h4></div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="mx-auto" style="width: 90%;">
                        <div id="talent-edit" class="row">
                            <div class="col-sm-10">
                                <input name="talent_list" value="{{ participators }}"/>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-outline-secondary" form="parsed-talent-form">Apply</button>
                            </div>
                        </div>
                        <div class="d-none">
                            <form id="parsed-talent-form" action="{{ url_for('videos.add_talent', video_id=video_info['video_id']) }}" method="post">
                                <input type="hidden" id="parsed-talents" name="talents" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="edit-stream-type">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="player-title"><h4>Edit stream type</h4></div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="mx-auto" style="width: 90%;">
                        <div id="talent-edit" class="row">
                            <div class="col-sm-10">
                                <input name="stream_type" value="{{ stream_type }}"/>
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-outline-secondary" form="parsed-stream-form">Apply</button>
                            </div>
                        </div>
                        <div class="d-none">
                            <form id="parsed-stream-form" action="{{ url_for('videos.add_stream_type', video_id=video_info['video_id']) }}" method="post">
                                <input type="hidden" id="parsed-stream" name="stream_type" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block end_body %}
<script src="{{ url_for('static', filename='scripts/single_video.js') }}"></script>
{% endblock %}