{% extends 'base.html' %}

{% block title %}Videos{% endblock %}

{% block head_links %}
<script src="https://unpkg.com/@yaireo/tagify"></script>
<script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-10">

        <div>
            <div class="d-flex">
                <div class="align-self-center">
                    <h2 class="mb-3">Videos</h2>
                </div>
                <div class="align-self-center flex-grow-1" style="text-align: right;">
                    <a href="#search-area" data-bs-toggle="collapse" data-bs-target="#search-area" class="text-secondary" style="text-decoration: none;"><i class="iconfont icon-search"></i>Search</a>
                </div>
            </div>
            <!-- Searching -->
            <div id="search-area" class="collapse p-2 rounded-bottom" style="background-color: #ebebeb;">
                <div class="mt-2"><input id="talent-search" placeholder="Talents" /></div>
                <div class="mt-2"><input id="tag-search" placeholder="Stream type" /></div>
                <input type="text" class="form-control mt-2" name="datefilter" value="" placeholder="Date filter"/>
                <form id="search-form" action="{{ url_for('videos.search_video') }}" method="get">
                    <input id="search-keys" name="search-keys" placeholder="Search titles" class="form-control mt-2"/>
                    <input type="hidden" id="parsed-talents" name="talents" />
                    <input type="hidden" id="parsed-tags" name="tags" />
                    <input type="hidden" id="page" name="page" />
                    <input type="hidden" id="time-range" name="time-range" />
                    <input type="hidden" id="time-descending" name="time-descending" value="false" />
                </form>
                <div class="mt-2 d-flex">
                    <div class="align-self-center ms-2">
                        <a href="#" id="descending-switch" class="text-secondary" style="text-decoration: none; font-size: 0.8em;"><i class="iconfont icon-rank"></i> Default</a>
                    </div>
                    <div class="flex-grow-1" style="text-align: right;">
                        <button type="submit" class="btn btn-primary" form="search-form">Search</button>
                    </div>
                </div>
            </div>
            {% if not videos_on_page %}
            <div class="alert alert-warning">There is no matched result. </div>
            {% else %}
            {% if search_params_call_back %}
            
            {% endif %}
            <!-- videos -->
            {% for single_video in videos_on_page %}
                <div class="bg-light shadow-sm mx-auto my-2 border rounded-2" onclick="location.assign('{{ url_for('videos.single_video', video_id=single_video['video_id']) }}')" style="cursor: pointer;">
                    <div class="row mx-0">
                        <div class="col-sm-3 border-end px-0">
                            <div class="mx-auto d-flex" style="text-align: center; align-items: center; height: 100%;">
                                <img src="{{ single_video['thumb_url'] }}" style="width: 100%; display: block;" alt="Thumb" class="border-0 rounded-2"/>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="d-flex px-2" style="height: 100%;">
                                <div class="align-self-center pe-2">
                                    <div class="my-2">{{ single_video['title'] }}</div>
                                    <div class="my-2 text-secondary" style="font-size: 0.9em;">{{ single_video['channel_name'] }}</div>
                                    <div class="my-2 text-secondary" style="font-size: 0.9em;">
                                        <span class="video-upload-date">{{ single_video['upload_date'] }}</span>, 
                                        <span class="video-duration">{{ single_video['duration'] }}</span>
                                    </div>
                                </div>
                                <div class="align-self-start flex-grow-1 pt-2" style="text-align: right;">
                                    {% if single_video['local_id'] %}
                                        <span><i class="iconfont icon-archive text-success"></i></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
        
        <!-- pagination -->
        <ul class="pagination justify-content-center mt-5">
            <li class="page-item"><a class="page-link" href="{{ pagination.links[0] }}">&lt;&lt;</a></li>
            {% if pagination.active_page > 1 %}
                <li class="page-item"><a class="page-link" href="{{ pagination.links[pagination.list.index(pagination.active_page)-1] }}">&lt;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&lt;</a></li>
            {% endif %}

            {% for i in range(pagination.list|length) %}
                <li class="page-item {% if pagination.active_page==pagination.list[i] %}active{% endif %}"><a class="page-link" href="{{ pagination.links[i] }}">{{ pagination.list[i] }}</a></li>
            {% endfor %}

            {% if pagination.active_page != page_num %}
                <li class="page-item"><a class="page-link" href="{{ pagination.links[pagination.list.index(pagination.active_page)+1] }}">&gt;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&gt;</a></l>
            {% endif %}
                
            <li class="page-item"><a class="page-link" href="{{ pagination.links[-1] }}">&gt;&gt;</a></li>
        </ul>

    </div>


    <div class="col-sm-1"></div>

</div>

{% endblock %}

{% block end_body %}
<script src="{{ url_for('static', filename='scripts/videos.js') }}"></script>
{% endblock %}